.gender-justice-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.gender-justice-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 images per row for laptop */
    gap: 10px;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .gender-justice-grid {
        grid-template-columns: 1fr; /* 1 image per row for mobile */
        margin:20px;
    }

    .grid-item {
        width: 100%; /* Ensures full width */
    }

    .grid-item img {
        width: 100%; /* Ensures images take full width */
        height: auto; /* Maintains aspect ratio */
    }
}
