/* Rural Development Grid Styles */

  @media (max-width: 768px) {
    .rural-container{
        margin:20px;
    }
    
    .top-row {
      flex-direction: column;
      align-items: center;
      padding: 0;

    }
  
    .top-row img {
      width: 100%;
      height: auto;
    }
    .bottom-row img {
        gap:10px;
        width: 100%;
        height: auto;
      }
  }
  