.Project-impact-container {
    text-align: center;
    margin: 20px;
    padding: 0 8.5vw;
  }
  
  .Project-impact-title {
    font-size: 52px;
    font-family: "Bebas Neue";
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .stat-card {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    text-align: center;
  }
  
  .stat-number {
    font-size: 80px;
    color: #00A0E3;
    font-family: "Bebas Neue", sans-serif;
  }
  
  .stat-label {
    font-size: 32px;
    font-weight: bold;
    color: #00A0E3;
  }
  
  .stat-description {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    /* width: 152px;
    height: 69px; */
  } 
  
 
@media (max-width: 1000px) {
    .Project-impact-title {
      font-size: 30px;
    }
  
    .stat-number {
      font-size: 40px;
    }
  
    .stat-label {
        margin-top: 10px;
      font-size: 20px;
    }
  
    .stat-description {
      font-size: 20px;
    }
  
    .stats-container {
      flex-direction: column;
      align-items: center;
    }
  }
   
   